.header {
  display: flex;
  width: calc(100% - 56px);
  max-width: calc(1920px - 56px);
  padding: 0 32px 0 24px;
  height: 64px;
  border-bottom: 1px solid #E9EBF0;
  position: fixed;
  background-color: #fff;
  z-index: 10;
  .header__section {
    display: flex;
    height: 100%;
  }

  
}
.header__account {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translate(0px, -50%);

  .header__account-image {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
  }

  .header__account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    .header__account-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 129%;
      color: #000000;
      white-space: nowrap;
    }
    .header__account-status {
      font-size: 12px;
      line-height: 150%;
      color: #6699FD;
    }
  }
}


@media screen and (max-width: 500px) {
  .header {
    padding: 0 10px;
    justify-content: space-around;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    .logo {
      max-width: min-content;
      .logo__title {
        font-size: 16px;
      }
      .logo__label{
        font-size: 16px;
      }
    }

    .header__account{
      position: static;
      transform: initial;

      .header__account-info {
        display: none;
      }
    }
  }
}