@import "./vendor/normalize.scss";
@import "./fonts/font.scss";

$font-stack: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
$bg-color: #fff;
$color-primary: #2b3452;
$blue: #6699fd;
$gray: #7d8395;

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
}

.page {
  font-family: $font-stack;
  font-weight: 400;
  line-height: 100%;
  font-style: normal;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
}

.main {
  padding: 144px 10px 166px;


  @media screen and (max-width: 450px) {
    padding-bottom: 66px;
  }
}
